<!doctype html>

<html>

<head>
  <title>Insights</title>
  <link rel="stylesheet" type="text/css" href="static/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script language="JavaScript" src="https://code.jquery.com/jquery-3.7.1.js"></script>
</head>

<body>

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link disabled" aria-disabled="true">Weather Influence on Music</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/insights">/insights</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/recommendation">/recommendation</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/contact">/contact</a>
    </li>
  </ul>

  <p class="vspace"></p>
  <h1>Insights about the decision making</h1>
  <p class="vlittlespace"></p>

  <center>
    <p>The basis of this algorithm is <a href="http://www.cp.jku.at/datasets/MMTD/">a Million Musical Tweets</a>,
      a survey that collected what songs users mentioned to <br>
      listen to on microblogs and social media. For each sample the geo location and a date is provided.<br><br>
      Here's an overview from where data possibly could be extracted from.
    </p>
    <img src="{{ url_for('static', filename='general_country_distribution.png') }}" style="height: 800px;" /><br>
    <p>Since API requests are limited, the original application only considered data from Europe. <br>
      As the variance of meterological and cultural differences is rather high, this can be considered <br>
      as a meaningful subset.<br><br>
      Here's an overview of the utilized subset
    </p>
    <img src="{{ url_for('static', filename='country_distribution.png') }}" style="height: 800px;" /><br>

    <p>The distribution of artists within the dataset is shown below. While the ones from the pop-genre<br>
      expectedly stand out in their amount of references, it also points out a rather broad spectrum <br>
      when looking at <i>Korn</i>, <i>Aha</i>, or <i>Bob Marley</i></p>

    <div style="overflow-x: scroll; width:1200px; height:auto;">
      <img src="{{ url_for('static', filename='artist_distribution.png') }}" style="height : 500px;">
    </div>

    <p>When the weather information is gathered for the corresponding listener statistics, a dataset is composed<br>
      with the following distriution</p>
    <div style="overflow-x: scroll; width:1200px; height:auto;">
      <img src="{{ url_for('static', filename='weather_descriptor_distribution.png') }}" style="height : 500px;">
    </div>
    <br>
    <p>Having a wider range per feature shows a large variety of song types. Which is good for a learning<br>
      approach, as not only similar but much more different songs (i.e. more unique compared to each other )<br>
      are used. This indicates a good information gain and thus the database condition is sufficient for learning.</p>
    <p>The song features to the relevant songs, come with following distribution</p>
    <div style="overflow-x: scroll; width:1200px; height:auto;">
      <img src="{{ url_for('static', filename='song_descriptor_distribution.png') }}" style="height : 500px;">
    </div>
    <br>
    <p>Which looks like a good basis for interpretation in general, as the values are well spread. The closer the<br>
      samples are located within a feature to each other, the less difficult it is to train a regressor (as there are
      <br>
      less cases to differentiate) but also most likely less reliable information can be derived from resulting
      estimates.
    </p>
    <br>

  </center>
</body>