h1 {
  text-align: center;
}

@media (min-width: 1200px) {
  .container {
    max-width: 970px;
  }
}

p {
  text-align: center;
  font-size: small;
  color: dimgray;
}


.vspace {
  margin-top: 10em;
  margin-bottom: 10em;
}

.vlittlespace {
  margin-top: 2em;
  margin-bottom: 2em;
}


#img-scaled {
  width: 500px;
  height: auto;
  /*to preserve the aspect ratio of the image*/
}

.px-1 {
  border-color: black;
  border-style: solid;
  border-radius: 15px;
}

.px-4 {
  background-image: linear-gradient(to bottom, dimgrey, darkblue);
  color: white;
  border-radius: 15px;
}