h1 {
  text-align: center;
}

@media (min-width: 1200px) {
  .container {
    max-width: 970px;
  }
}

p {
  text-align: center;
  font-size: small;
  color: dimgray;
}


.vspace {
  margin-top: 10em;
  margin-bottom: 10em;
}

.vlittlespace {
  margin-top: 2em;
  margin-bottom: 2em;
}

#img-scaled {
  width: 500px;
  height: auto;
}

.px-4 {
  background-image: linear-gradient(to bottom, dimgrey, darkblue);
  color: white;
  border-radius: 15px;
}

a:link {
  color: lightgray;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: lightblue;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: lightskyblue;
  background-color: transparent;
  text-decoration: underline;
}

.column {
  flex: 50%;
}

#contactDetails {
  max-width: 40%;
}